body{
font-family: Arial;
margin:0;
overflow:hidden;
background:#eef2ff;
}

.slider{
display:flex;
width:200vw;
transition:0.6s;
}

.slide{
width:100vw;
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:40px;
box-sizing:border-box;
}

#slide1{
background:#dbeafe;
}

#slide2{
background:#fde68a;
}

button{
margin-top:20px;
padding:12px 25px;
border:none;
background:#2563eb;
color:white;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#1d4ed8;
}
